<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/meta_links.ejs") %>
    <title>About The Site</title>
    <meta name="keywords" content="Data, Info, More about us, Who are we, Info about the site">
    <meta name="description" content="This page will contain crucial information about what this site is all about, and how we will improve it in the near future!">
</head>
<body>
<%- include("../fragmente/header.ejs") %>   <!-- Intoarce rezultatul funtiei apelate, cazul asta include-->
<main>
    <section>
    <pre>


    </pre>
        <h2>This is a university project</h2>
        <pre>
    This site was created by only one student, in an attempt to pass the second year.
    As only a project for his university, most likely this site will never be completely finished, so I must apologies for any bugs that
    you may encounter.
    Indeed, I will try my absolute best to make this site as better as I can in the time that it is offered.
    Thank you for taking from your time to check this project, and I hope you're not disappointed</pre>
    </section>

</main>
<%- include("../fragmente/footer.ejs") %>
<script src="../../resurse/style/main.js"></script>
</body>
</html>
