<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/meta_links.ejs") %>
    <title>403</title>
    <meta name="keywords" content="Error , 403 , 403 Error, Permission denied, Forbidden access">
    <meta name="description" content="Forbidden, leave at once you pleb, you do not belong to this parts!">
    <link rel="stylesheet" href="../../resurse/style/ErrorPage.css">

</head>
<%- include("../fragmente/header.ejs") %>   <!-- Intoarce rezultatul funtiei apelate, cazul asta include-->
<body>
<main>
    <section class="error">
        <h2>Error 403</h2>
        <p>Permission denied, you don't have the necessary authority to visualise this page!</p>
        <img src="/resurse/gallery_photo/403/403.png" alt="403" title="403 error">
    </section>
</main>
<%- include("../fragmente/footer.ejs") %>
<script src="../../resurse/style/main.js"></script>
</body>
</html>
