<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/meta_links.ejs") %>
    <title>Library</title>
    <meta name="keywords" content="Games ,Watch, Explore, Gamers, Animated Gallery ">
    <meta name="description" content="This page will present to any viewer it's own library, and based onn those type of games will present an offer of a bundle">
</head>
<body>
<%- include("../fragmente/header.ejs") %>   <!-- Intoarce rezultatul funtiei apelate, cazul asta include-->
<main>
    <section class="error">
        <h2>Gamers</h2>
    </section>

    <%- include("../fragmente/static_gallery.ejs")%>

</main>
<%- include("../fragmente/footer.ejs") %>
<script src="../../resurse/style/main.js"></script>
</body>
</html>
