<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/meta_links.ejs") %>
    <title>Jocuri</title>
    <meta name="keywords" content="Error , 404 , 404 Error, Nothing here, Page not found">
    <meta name="description" content="Disaster, how did you end up trying to access a page that doesn't exist? ">
    <link rel="stylesheet" href="../../resurse/style/ErrorPage.css">

</head>
<%- include("../fragmente/header.ejs") %>   <!-- Intoarce rezultatul funtiei apelate, cazul asta include-->
<body>
<main>
    <section class="error">
        <h2>Jocuri</h2>
    </section>
    <%- include("../fragmente/jocuri_pogg.ejs")%>
</main>
<div class="pagebreak"> </div>
<%- include("../fragmente/footer.ejs") %>
<script src="../../resurse/style/main.js"></script>
</body>
</html>
