
<footer>
    <p class="water_mark">Avramescu Andrei</p>
    <section class="figura">
        <div>
            <a href="#Home_page" class="triangle"></a>
        </div>
        <p>GoUp!</p>
    </section>
    <section>
        <address>
            For support:<br>
            Telephone:<a href="tel:0761234567">0761234567</a><br>
            Address: Bucharest, Str Garii, Nr 123<br>
            E-mail: <a href="mailto:DaBaniiMie@NueScam.com">Persoana Reala</a><br>
        </address>
        <p><small>&copy; <time datetime="2021-03-05 14:00">Cinci martie,anul 2021</time> </small></p>
    </section>
</footer>