
<header id="Home_page">
    <div id="first_menu">
        <a href="javascript:void(0);" onclick="myFunction()" id="open_menu"><i class="fa fa-bars"></i></a>
        <div id="menu_div">
            <nav id="navigation">
                <ul id="la_prima_del_listo">
                    <li class="menu1" id="first_option">
                        <button class="subnavbtn"><a href="/index" target="_self"><i class="fa fa-home" aria-hidden="false"></i></a> <a id="home_text" href="/index" target="_self">Home page</a></button>
                        <ul class="subnav-content">
                            <li>
                                <a href="/index#Sales"><i class='fas fa-long-arrow-alt-right' id="first_menu_arrow"></i>Sales</a>
                            </li>
                            <li>
                                <a href="/index#Most_popular"><i class='fas fa-long-arrow-alt-right' id="second_menu_arrow"></i>Most popular</a>
                            </li>
                            <li>
                                <a href="/index#New_games"><i class='fas fa-long-arrow-alt-right' id="third_menu_arrow"></i>New games</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu1" id="second_option">
                        <button class="subnavbtn"><a href="/Account" target="_self">Account Info</a></button>
                    </li>
                    <li class="menu1" id="third_option">
                        <button class="subnavbtn"><a href="/GalerieAnimata" target="_self">Library</a></button>
                    </li>
                    <li class="menu1" id="forth_option">
                        <button class="subnavbtn"><a href="/galerie" target="_self">Community forum</a></button>
                    </li>
                    <li class="menu1" id="fifth_option">
                        <button class="subnavbtn"><a href="/AboutUs" target="_self">About the site</a></button>
                    </li>
                    <li class="menu1" id="fifth_option">
                        <button class="subnavbtn"><a href="/jocuri" target="_self">Games</a></button>
                        <ul class="subnav-content">
                            <li>
                                <a href="/jocuri">Age restrictions</a>
                            </li>
                            <li>
                                <a href="/jocuri">Genre</a>
                            </li>
                            <li>
                                <a href="/jocuri">Sales</a>
                            </li>
                            <li>
                                <a href="/jocuri">Date</a>
                            </li>
                            <li>
                                <a href="/jocuri">Name</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<section class="banner">
    <p>This is a university project</p>
</section>