<section class="jocuri_pogg_service">
    <%var how_many_photos=0;%>
    <% for (let imag of locals.imagini){%>
    <figure class="jocuri_pogg">
        <a href="/joc">
            <picture>
                <source srcset="<%- imag.mic %>" media="(max-width:700px)"/>
                <source srcset="<%- imag.mediu %>" media="(max-width:1200px)"/>
                <img src=<%- imag.mare %> alt="<%imag.alt%>" title="<%imag.text_descriere%>">
            </picture>
            <figcaption><%-imag.titlu%></figcaption>
            <p>Pret: ?$</p>
        </a>
    </figure>
    <%how_many_photos++;
    }%>
</section>